<br>
<br>
<div>
<a [routerLink]="['/home']"><button style="border: 1px solid; background-color:darkgray; border-radius: 10px;">Home</button></a>
<p>The Tesla Cybertruck is an all-electric, battery-powered, light duty truck announced by Tesla, Inc. Three models have been announced, with EPA range estimates of 400–800 kilometres (250–500 mi) and an estimated 0–100 km (0–62 mi) time of 2.9–6.5 seconds, depending on the model.[11]</p>
<p>The stated goal of Tesla in developing the Cybertruck is to provide a sustainable energy substitute for the roughly 6,500 fossil-fuel-powered trucks sold per day in the United States</p>
<p>The base price of the rear-wheel drive (RWD) model of the vehicle was announced to be US$39,900, with all-wheel drive (AWD) models starting at US$49,900.[14][15] As of November 2019, the dual-motor AWD and tri-motor AWD Cybertruck production was slated to begin in late 2021, with the RWD model being added in late 2022</p>
<img style="position:relative; left: 40px ;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Tesla_Cybertruck_unveiling.jpg/1280px-Tesla_Cybertruck_unveiling.jpg" alt=""> <br>
<b>History</b>
<p>In 2012[16] and 2013 Elon Musk discussed the desire to build a truck with load-compensating suspension, making comparisons with a Ford F-250.[17][18] In early 2014 Musk predicted 4–5 years before work could start on the product.[19]

    In mid-2016, Musk outlined the intent for a new kind of consumer pickup truck,[20] and suggested using the same chassis for a van and a pickup truck.[21] In late 2017, the size was estimated to be at least that of a Ford F-150, in order to be large enough to enable a "game-changing" feature.[22] During the Tesla Semi and Tesla Roadster unveiling in November 2017, a picture of a "pickup truck that can carry a pickup truck" was displayed.[23] Background ideas had been in preparation for nearly five years.[24]</p>
<p>In late 2018, Musk anticipated a prototype to be ready to show in 2019.[25]

    In March 2019, following the Tesla Model Y launch, Elon Musk distributed a teaser image of a vehicle described as having a cyberpunk or Blade Runner style,[26] with the form resembling a futuristic armoured personnel carrier.[27][28][29] It was rumored to be named the Model B.[30][31][32] Tesla filed for a trademark on "Cybrtrk", which was granted under United States Patent and Trademark Office 88682748.[33]
    </p>
    <p>
    In mid-2019, the towing capacity of the vehicle was stated to meet or exceed that of a Ford F-150.[34] In June 2019, Musk noted that an amphibious vehicle design concept—based partly on Wet Nellie, the submarine car from the film The Spy Who Loved Me—was possible.[35][36] Musk had bought a Wet Nellie used in the filming at a 2013 Sotheby's auction.[37]
    
    In response to queries for an unveiling date,[38] Musk stated in late July, "We're close, but the magic is in the final details. Maybe 2 to 3 months", indicating late 2019.[39] The unveiling was then scheduled for 21 November 2019 at the Tesla Design Studio, next to SpaceX headquarters in Los Angeles—the same month, year and location that the movie Blade Runner was set in.[40][41][42][43][44] The truck was launched under a graffiti-themed logo of "Cybertruck", and a new trademark request was filed with the graffiti logo at the same time.[45]
    </p>
    <p>
    Musk also talked about increasing the dynamic air suspension travel of the Cybertruck for better off-road performance.[46][47][48][49]
    
    In late December 2019, both the Cybertruck and Tesla Cyberquad made an appearance in rapper Travis Scott's "Gang Gang" music video.[50]</p>
</div>