<br>
<br>
<div>
<a [routerLink]="['/home']" ><button style="border-radius: 10px;">Home</button></a>
<h2 style="text-align: center;"><b>10 Rules of Dashboard Design</b></h2>
<h4 style="font-weight: lighter; color: darkgray; text-align: center;"><b>Dashboard design Guidelines</b></h4> <br><br>
<img style="position: relative; left:100px" src="https://miro.medium.com/max/2366/1*uFOKexffU4zMtO508Esjfw.png" alt="">
<pre >
    <h2><b>Why does Dashboard Design matter?</b></h2>
    A dashboard is a visual representation of information. Its purpose is to present complex information in an easy to understand format for its users.
    A usable dashboard should be:
    <strong>Clear:</strong> A good dashboard clearly displays the required information. When a user looks at the dashboard, he should be able to get the purpose of the dashboard within the first 5 seconds. He does not need to stay there for a few minutes just to understand the purpose of the dashboard.
    <strong>Meaningful:</strong> A usable dashboard contains meaningful information. Meaningful information describes what the designer wants to convey using this dashboard. The story behind the dashboard visuals should be understandable to the user.
   <strong> Consistent:</strong> Great dashboards display information in a consistent format. Consistency needs to be taken care of for its layout, organization, and content.
   <strong> Simple:</strong> A complex dashboard does not fulfill the purpose of its existence which is to present complex information in a simple form. If presenting information visually does not make it simple, then there is an issue with the dashboard design.
   <h3><b> How to Design a Dashboard?</b></h3>
    The most important step towards dashboard design is to know about the audience for whom you are creating the dashboard and what value will it provide to them. Knowing the background and level of their understanding will help you to create a design that is valuable for them.
    While knowing your audience, it is necessary to understand what kind of data the audience is interested to see.
    Focusing on the audience needs makes it easier to produce an outcome that they would love to use.
    It is a possibility that your audience level varies from level one to the other. This is a challenging point and like any other design project, you can segment your audience and divide the information accordingly as basic and advanced content.
    Selecting the correct metrics (KPIs) is another key element in designing a meaningful dashboard for your audience. There are multiple ways to represent a set of information in a dashboard. However, choosing the correct metrics is a key step in designing the usable dashboards. This also relates to your audience preferences that what kind of information they want to see.
    Design dashboard as per needs — use different types of dashboards for different businesses.
    Below are a few important rules to consider while designing a dashboard for your audience.
    <h3><b>10 Rules of Dashboard Design</b></h3>
   <h5><b> 1.Hierarchy</b></h5>
    A very common mistake in designing the dashboard is presenting all information as if it is equally important. Use the size and position of content widgets to show the hierarchy of data.
              Make it clear to the viewer what’s most important by defining information levels.
              Display more important information on the top left. Move towards the bottom right direction with the information from more to less important level.
              It is also possible to divide the information into categories and display them in different views.

    <h5><b> 2.Simplicity</b></h5>
    The real purpose of the dashboard is to present complex information in an understandable and simpler form.
              Don’t provide a lot of information that would be difficult to absorb for the user.
              Use fewer columns to display information.
              Reduce clutter by removing redundant content.
    <h5><b> 3.Consistency</b></h5>
    A dashboard looks better when it is designed using a consistent layout.
                To make your dashboard easier to read, use similar visualizations and layouts between groups.
                Put related information closer to each other.
                Group related content visually.
    <h5><b> 4.Proximity</b></h5>
     Displaying related information together in a dashboard will help the user to understand it quickly.
                Put related information closer to each other.
                Don’t scatter related information across the dashboard.
                Group related content visually.
                
   <h5><b> 5.Alignment</b></h5>
     The elements of a dashboard need to align visually to make it a balanced look.
                Do align dashboard elements with each other to organize better.
                Try to place dashboard widgets in a Grid view.
                An unaligned view does not give a good impact to the user.
                
   <h5><b> 6.Whitespace</b></h5>
    Whitespace is as necessary to design as air to breathe. It provides a breathing space to the user when he is using your design.
                Whitespace in the dashboard design appeals to the user when he comes to see the information.
                Reducing whitespace will overwhelm the user with a cluttered view.
                Use whitespace to group related information visually.
                
    <h5><b> 7.Color</b></h5>
    Use an effective color scheme to grab the user’s attention and help them go through the information easily.
                Choose colors carefully to make the content readable.
                Use maximum contrast to display the visual elements properly over the background.
                
    <h5><b> 8.Fonts</b></h5>
    Standard fonts are the best fonts to display on a dashboard unless there is a specific need to use other fonts.
                Use standard fonts as they are easier to read and scan.
                Unusual and stylish fonts may look good visually but are difficult to understand.
                Avoid All caps text as it is difficult to read and the human mind takes time to absorb it
                Use a suitable size and style of font that communicate the information effectively.
                
               
    <h5><b> 9.Number Formats</b></h5>
    Displaying numbers with the more than required level of precision make them difficult to read and understand.
                Round numbers where necessary as long numbers can confuse the user.
                Truncate the unnecessary information.
                Make it easier for the user to compare simple details.
                
    <h5><b> 10.Labels</b></h5>
    Use labels that convey the required information to the user quickly and efficiently.
                Avoid using rotated labels as they are difficult to read for the user.
                Use standard abbreviations where possible.
    <h4>Conclusion</h4>
    <p style="text-indent: 100px;">Dashboards are intended to save time and effort, providing a simpler representation of complex and 
        abstract data. The purpose of a dashboard is to communicate the critical information to your audience 
        in a way they can understand. Make sure to deliver what your audience needs and then they need the
         information.</p>
                

</pre>
</div>
